body {
    background-color: navy;
    padding: 6px;
    color: white;
    text-align: center;
}

.container {
    display:grid;
    grid-template-rows: 
    1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "buttonpad";
    height:auto;
    width:auto;
    justify-items: center;
}

.buttonpad {
    display: grid;
    grid-template-columns: 
    1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "to-hist to-input";
    height: auto;
    width: auto;
    justify-items: center;
}

#button {
    padding: 2px;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: gainsboro;
    width: max-content;
    height: max-content;
    color: black;
  }

#button:hover {
    background-color: whitesmoke;
}