<html>
    <head>
        <title>
            Grid disturbance database - Data Input Page
        </title>
        <link rel="stylesheet" href="admin-input.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                Data Input Page
            </div>
            <div class="description">
                This page is meant to upload new data into the database.<br>
                Once you have finished, you can return to the <a class="link" href="admin-main.html" title="Admin Home page"> Admin Home Page </a>.
            </div>
            <div class="buttonpad">
                <div class="to-grid-dist" id="button">
                    <a class="link" href="grid-dist.html" title="Grid Disturbance Input page"> Grid Disturbance Input Page</a>
                </div>
                <div class="to-fault" id="button">
                    <a class="link" href="fault.html" title="Fault Input page"> Fault Input Page</a>
                </div>
                <div class="to-outage" id="button">
                    <a class="link" href="outage.html" title="Outage Input page"> Outage Input Page</a>
                </div>
                <div class="to-interrupt" id="button">
                    <a class="link" href="interrupt.html" title="Interruption Input page"> Interruption Input Page</a>
                </div>
            </div>
        </div>
    </body>
</html>