<html>
    <head>
        <title>
            Grid disturbance database - History Page
        </title>
        <link rel="stylesheet" href="\static\css\admin-hist.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1> History Page </h1>
            </div>
            <div class="description"> <br>
                This page is meant to see the full history of changes to the database.<br>
                Once you have finished, you can return to the 
                <a class="link" href="{% url "admin-main" %}" title="Admin Home page">
                    Admin Home page
                </a>
            </div>
            <div class="history"> <br>
                Below is the current history extracted from the current database.
            </div>
        </div>
    </body>
</html>