<html>
    <head>
        <title>
            Grid disturbance database - History Page
        </title>
        <link rel="stylesheet" href="admin-hist.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                History Page
            </div>
            <div class="description">
                This page is meant to see the full history of changes to the database.<br>
                Once you have finished, you can return to the <a class="link" href="admin-main.html" title="Admin Home page"> Admin Home Page </a>.
            </div>
            <div class="history">
                Below is the current history extracted from the current database.
            </div>
        </div>
    </body>
</html>