<html>
    <head>
        <title>
            Grid disturbance database - Connection Page
        </title>
        <link rel="stylesheet" href="\static\css\admin-co.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1> Administrator Connection Page </h1>
            </div>
            <div class="description">
                This page is meant to prevent any unauthorized person to directly interact with the database.<br>
                If you are an administrator please insert you connection IDs below.<br>
                Otherwise please return to the 
                <a class="link" href="{% url "home-page" %}" title="home page">
                    home page
                </a>
            </div>
            <div class="connectpad">
                <div class="id-header"> <br> User ID </div>
                <div class="id-insert" id="input-box"> <br>
                    <svg width=300 height=30>
                        <rect x="15" y="2" rx="5" ry="5" width="250" height="25" style="fill:lightgrey; stroke-width: 2px; stroke:black"></rect>
                    </svg>
                </div>
                <div class="pw-header"> Password </div>
                <div class="pw-insert" id="input-box">
                    <svg width=300 height=30>
                        <rect x="15" y="2" rx="5" ry="5" width="250" height="25" style="fill:lightgrey; stroke-width: 2px; stroke:black"></rect>
                    </svg>
                </div>
            </div>
            <div class="connectbutton" id="button"> <a class="link" href="{% url "admin-main" %}" title="Admin Main Page">
                Admin Main Page
                </a>
             </div>
            <div class="notification" id="message-zone"></div>
        </div>
    </body>
</html>