<html>
    <head>
        <title>
            Grid disturbance database - Data Input Page
        </title>
        <link rel="stylesheet" href="\static\css\admin-input.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1> Data Input Page </h1>
            </div>
            <div class="description"> <br>
                This page is meant to upload new data into the database.<br>
                Once you have finished, you can return to the 
                <a class="link" href="{% url "admin-main" %}" title="Admin Home page">
                    Admin Home page
                </a>
            </div>
            <div class="buttonpad">
                <div class="to-grid-dist" id="button">
                    <a class="link" href="{% url "grid-dist" %}" title="Grid Disturbance Input page">
                        Grid Disturbance Input page
                    </a>
                </div>
                <div class="to-fault" id="button">
                    <a class="link" href="{% url "fault" %}" title="Fault  Input page">
                        Fault Input page
                    </a>
                </div>
                <div class="to-outage" id="button">
                    <a class="link" href="{% url "outage" %}" title="Outage Input page">
                        Outage Disturbance Input page
                    </a>
                </div>
                <div class="to-interrupt" id="button">
                    <a class="link" href="{% url "interrupt" %}" title="Interrupt Input page">
                        Interrupt Input page
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>