<html>
    <head>
        <title>
            Grid disturbance database - Grid Disturbance Input Page
        </title>
        <link rel="stylesheet" href="grid-dist.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                Grid Disturbance Input Page
            </div>
            <div class="description">
                This page is meant to upload new Grid Disturbances into the database.<br>
                Once you have finished, you can return to the <a class="link" href="admin-main.html" title="Admin Home page"> Admin Home Page </a>.
            </div>
            <div class="inputpad">
                <div class="id-header"> Identification </div>
                <div class="id-input" id="input-box">
                    <svg width=300 height=30>
                        <rect x="15" y="2" rx="5" ry="5" width="250" height="25" style="fill:lightgrey; stroke-width: 2px; stroke:black"></rect>
                    </svg>
                </div>
                <div class="date-header"> Date </div>
                <div class="date-input" id="input-box">
                    <svg width=300 height=30>
                        <rect x="15" y="2" rx="5" ry="5" width="250" height="25" style="fill:lightgrey; stroke-width: 2px; stroke:black"></rect>
                    </svg>
                </div>
                <div class="time-header"> Time </div>
                <div class="time-input" id="input-box">
                    <svg width=300 height=30>
                        <rect x="15" y="2" rx="5" ry="5" width="250" height="25" style="fill:lightgrey; stroke-width: 2px; stroke:black"></rect>
                    </svg>
                </div>
            </div>
        </div>
    </body>
</html>