<html>
    <head>
        <title>
            Grid disturbance database - User Request Page
        </title>
        <link rel="stylesheet" href="\static\css\user-request.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1> User Request Page </h1>
            </div>
            <div class="description">
                This page is meant to send queries to the database.<br>
                Once you have finished, you can return to the 
                <a class="link" href="{% url "admin-main" %}" title="Home page">
                    Home page
                </a>.
            </div>
            <div class="buttonpad">
                <div class="to-grid-dist" id="button">
                    <a class="link" href="{% url "user-grid-dist" %}" title="Grid Disturbance Input page">
                        Grid Disturbance Search Page
                    </a>
                </div>
                <div class="to-fault" id="button">
                    <a class="link" href="{% url "user-fault" %}" title="Fault Input page">
                        Fault Search Page
                    </a>
                </div>
                <div class="to-outage" id="button">
                    <a class="link" href="{% url "user-outage" %}" title="Outage Input page">
                        Outage Search Page
                    </a>
                </div>
                <div class="to-interrupt" id="button">
                    <a class="link" href="{% url "user-interrupt" %}" title="Interruption Input page">
                        Interruption Search Page
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>